
body{
    background-color: rgb(249,249,250)
}

.colornavbar{
    background-color: rgb(255,255,255)!important;
}

.contPrincipal{
    margin-top: 70px;
}

.Directions, .logoRuta, .logoFrase{
    text-align: center;
}

.contTitulo span{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #52575C;
    width: 387px;
}

.contFrase span{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #6B7280;
    width: 458px;
    display: block;
    margin-left: 42px;
}

.logoMapa img{
    display: block;
    width: 295px;
    height: 189px;
    margin: 45px 0px 0px 77px;
}

.letraMpa .msjweb, .letraMpa, .msjweb2, .letraMpa .msjmobile{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #6B7280;
    display: block;
    width: 447px;    
    margin-top: 10px;
}

.letraMpa .msjmobile{
    display: none;
}

.letraMpa .msjweb span{
    color: #0A3FA8;
    font-weight: bold;
}

.posMapa img{
    display: block;
    width: 316px;
    height: 302px;
    margin: 10px 0px 0px 60px;

}
.cont_map{
    position: relative;
    float: left;
    background-image: url("../img/mapa/mapa_peru.png");
    background-repeat: no-repeat;
    width: 744px;
    height: 722px;
    padding: 0;
    background-color: #E5E7EB;   
 }

 .mapa_chiclayo{
    position: absolute;
    float: left;
    background-image: url("../img/mapa/chiclayo.png");
    background-repeat: no-repeat;
    width: 45px;
    height: 54px;
    margin: 234px 0px 0px 115px;          
 }

 .mapa_chiclayo:hover{
    background-image: url("../img/mapa/chiclayo_hover.png");
 }

 .mapa_trujillo{
    position: absolute;
    float: left;
    background-image: url("../img/mapa/trujillo.png");
    background-repeat: no-repeat;
    width: 89px;
    height: 62px;
    margin: 284px 0px 0px 147px;       
 }

 .mapa_trujillo:hover{
    background-image: url("../img/mapa/trujillo_hover.png");
 }

 .mapa_lima{
    position: absolute;
    float: left;
    background-image: url("../img/mapa/lima.png");
    background-repeat: no-repeat;
    width: 79px;
    height: 106px;
    margin: 399px 0px 0px 205px;     
 }

 .mapa_lima:hover{
    background-image: url("../img/mapa/lima_hover.png");
 }

 .mapa_huancayo{
    position: absolute;
    float: left;
    background-image: url("../img/mapa/huancayo.png");
    background-repeat: no-repeat;          
    width: 106px;
    height: 67px;
    margin: 413px 0px 0px 252px;
 }

 .mapa_huancayo:hover{
    background-image: url("../img/mapa/huancayo_hover.png");
 }

 .mapa_ica{
    position: absolute;
    float: left;
    background-image: url("../img/mapa/ica.png");
    background-repeat: no-repeat;
    width: 61px;
    height: 87px;
    margin: 490px 0px 0px 254px;     
 }

 .mapa_ica:hover{
    background-image: url("../img/mapa/ica_hover.png");
 }

 .mapa_arequipa{
    position: absolute;
    float: left;
    background-image: url("../img/mapa/arequipa.png");
    background-repeat: no-repeat;
    width: 141px;
    height: 94px;
    margin: 550px 0px 0px 303px;      
 }

 .mapa_arequipa:hover{
    background-image: url("../img/mapa/arequipa_hover.png");
 }

 @media (max-width: 800px) {
    .Directions{
        display: none;
    }

    .Directions img {
        display: none;
    }
    .logoRuta img{
        width: 267px;
        height: 172px;
    }

    .contTitulo span{
        display: block;
        width: 245px;
        line-height: 1;
        margin: 24px 0px 0px 45px;
    }

    .contFrase span{
        width: 275px;
        margin: 25px 0px 0px 30px;
    }

    .btnIrMapa img{
        display: block;
        width: 316px;
        height: 58px;
        margin: 15px 0px 0px 9px;
    }

    .posMapa img{
        display: none;
    }

    .letraMpa p{
        width: 320px;
    }

    .logoMapa img{
        display: block;
        width: 148px;
        height: 94px;
        position: absolute;
        margin: 13px 0px 0px 13px;
    }

    .letraMpa .msjweb, .letraMpa, .msjweb2, .letraMpa .msjmobile {
        font-size: 14px;
        width: 100%;
    }
    .letraMpa .msjmobile{
        display: block;
        width: 108px;
        color: #0A3FA8;
        font-weight: bold;
        position: absolute;
        margin: 352px 0px 0px 17px;
        text-align: left;
    }
    .letraMpa .msjweb2{
        margin: 456px 0px 0px 16px;
        width: 182px;
        text-align: left;
    
    }
    
    .letraMpa .msjweb{
        display: none;
    }

    .contMobileMpa, .contLetraMpa, .contLogoMapa{
        position: absolute;
        z-index: 1;
    }

    .contMpaMobile{
        padding: 0;
    }
    .cont_map{        
        background-image: url("../img/mapa/mobile/mapa_peru.png");
        width: 360px;
        height: 580px;
        margin-left: 0;
     }

     .mapa_chiclayo{
        background-image: url("../img/mapa/mobile/chiclayo.png");
        width: 37px;
        height: 43px;
        margin: 201px 0px 0px 39px;   
        z-index: 1;          
     }

     .mapa_chiclayo:hover{
        background-image: url("../img/mapa/mobile/chiclayo_hover.png");
        z-index: 1;
     }

     .mapa_trujillo{
        background-image: url("../img/mapa/mobile/trujillo.png");
        width: 70px;
        height: 49px;
        margin: 239px 0px 0px 64px; 
        z-index: 1;  
     }

     .mapa_trujillo:hover{
        background-image: url("../img/mapa/mobile/trujillo_hover.png");
        z-index: 1;
     }

     .mapa_lima{
        background-image: url("../img/mapa/mobile/lima.png");
        width: 61px;
        height: 83px;
        margin: 327px 0px 0px 109px; 
        z-index: 1;
     }

     .mapa_lima:hover{
        background-image: url("../img/mapa/mobile/lima_hover.png");
        z-index: 1;
     }

     .mapa_huancayo{
        background-image: url("../img/mapa/mobile/huancayo.png");         
        width: 82px;
        height: 52px;
        margin: 339px 0px 0px 146px;
        z-index: 1;
     }

     .mapa_huancayo:hover{
        background-image: url("../img/mapa/mobile/huancayo_hover.png");
        z-index: 1;
     }

     .mapa_ica{
        background-image: url("../img/mapa/mobile/ica.png");
        width: 48px;
        height: 68px;
        margin: 399px 0px 0px 147px; 
        z-index: 1;
     }

     .mapa_ica:hover{
        background-image: url("../img/mapa/mobile/ica_hover.png");
     }

     .mapa_arequipa{
        background-image: url("../img/mapa/mobile/arequipa.png");
        width: 109px;
        height: 73px;
        margin: 445px 0px 0px 186px;     
        z-index: 1;
    }

     .mapa_arequipa:hover{
        background-image: url("../img/mapa/mobile/arequipa_hover.png");
        z-index: 1;
     }
  }

.letramediana{
    font-size:18px;
 }

 .letrapequenia{
    font-size:12px;
 }
 .cerrarTamanio{
    width: 23px;
    height:23px;
 }

 .iframe-container{
   position: relative;
   width: 100%;
   padding-bottom: 56.25%; 
   height: 0;
 }
 .iframe-container iframe{
   position: absolute;
   top:0;
   left: 0;
   width: 100%;
   height: 100%;
 }
  @media only screen and (min-width: 1919px ) {
    .contPrincipal{
        margin-top: 155px;
    }
    .cont_map{     
        width: 940px;
    }
  }

  .form-check-input{
    width:15px;
    height:15px;
    
 }

 .form-check{
    margin-left:5px;
 }

 .altoRB{
    height:24px;
 }

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen 
and (min-device-width: 413px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .contTitulo span{
        width: 290px;
    }

    .cont_map{
        width: 414px !important;
    }
    
    .contFrase span{
        width: 319px !important;
    }

    .btnIrMapa img{
        width: 362px !important;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .cont_map{
        width: 375px;
    }
}

/* ----------- iPhone XR ----------- */
@media only screen 
and (min-device-width: 414px) 
and (max-device-width: 896px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .contTitulo span{
        width: 290px;
    }

    .cont_map{
        width: 414px !important;
    }
    
    .contFrase span{
        width: 319px !important;
    }

    .btnIrMapa img{
        width: 362px !important;
    }
}